{#
/**
 * @file
 * Template for the header
 */
#}

<footer id="footer" role="footer">
  <div class="container">
    {{ page.footer }}
  </div>
</footer>

{% include directory ~ '/templates/_partials/webfont.html.twig' %}
