
.view--products.view-display-id-page_1 #customized.grouping .header-cover .layer {
  background-color: #f8ae1c;
  position: absolute;
  width: 100%;
  height: 300px;
  opacity: .8;
}

.view--products.view-display-id-page_1 #customized.grouping .card:hover .card-overlay {
  background-color: #f8ae1c !important;
}

.view--taxonomy-term.view-display-id-attachment_1 .view__row.col-md-4 .box h2,
.view--taxonomy-term.view-display-id-block_1 .view__row.col-md-4 .box h2,
.view--taxonomy-term.view-display-id-page_1 .view__row.col-md-4 .box h2 {
  font-size: 24px;
  padding-top: 10px;
}

.view--taxonomy-term.view-display-id-attachment_1 .view__row.col-md-4 .box,
.view--taxonomy-term.view-display-id-block_1 .view__row.col-md-4 .box,
.view--taxonomy-term.view-display-id-page_1 .view__row.col-md-4 .box {
  height: 350px;
}

.path--taxonomy-term-29 .term-full-header-cover {
  background-position: right !important;
}

.path--projects .group-header {
  margin-top: 60px;
  margin-bottom: 60px;
  clear: both;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.path--projects .group-header h2.group-title {
  display: inline-block;
  color: #c5241f;
  padding: 0 44px;
  background: #fff;;
}

.path--projects .group-header hr {
  border: 1px solid #c5241f;
  position: relative;
  margin-top: -30px;
  z-index: -1;
}

.view--taxonomy-term--page-2 .tabledrag-toggle-weight-wrapper {
  display: none;
}

.mt-3 {
  margin-top: 1.5rem;
}

.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.container.block--tabs {
  padding: 0;
}

.node--type-product .field-slideshow {
  width: 540px;
}

.node--type-product .field-slideshow .field-slideshow-slide {
  margin-top: -1px;
}

.page--product .node--type-product .group-left #field-slideshow-1-wrapper #field-slideshow-1-pager.list-inline li {
  width: 23.5%;
  height: 86px;
}

#roof-top .nav > li:first-of-type {
  display: inline-block;
}

.view--products--page-1 #standard .group:nth-of-type(2) {
  display: none;
}

.view--products.view-display-id-page_1 .grouping .contents-rows .sub-netscape-treetop-adventure .card .card-box h3.title,
.view--products.view-display-id-page_1 .grouping .contents-rows .sub-giant-double-dome-play-spider-net-tower .card .card-box h3.title {
  transform: translate(-50%,-70%);
}

.view--products.view-display-id-page_1 .grouping#전체제품 .card:hover .card-overlay {
  background: #c5241f !important;
}
