
.view--products.view-display-id-page_1 #customized.grouping .header-cover .layer {
  background-color: #f8ae1c;
  position: absolute;
  width: 100%;
  height: 300px;
  opacity: .8;
}

.view--products.view-display-id-page_1 #customized.grouping .card:hover .card-overlay {
  background-color: #f8ae1c !important;
}

.view--taxonomy-term.view-display-id-attachment_1 .view__row.col-md-4 .box h2,
.view--taxonomy-term.view-display-id-block_1 .view__row.col-md-4 .box h2,
.view--taxonomy-term.view-display-id-page_1 .view__row.col-md-4 .box h2 {
  font-size: 24px;
  padding-top: 10px;
}

.view--taxonomy-term.view-display-id-attachment_1 .view__row.col-md-4 .box,
.view--taxonomy-term.view-display-id-block_1 .view__row.col-md-4 .box,
.view--taxonomy-term.view-display-id-page_1 .view__row.col-md-4 .box {
  height: 350px;
}

.path--taxonomy-term-29 .term-full-header-cover {
  background-position: right !important;
}
